name: lint-test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint-test:
    name: Lint and Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.3"
      - run: go mod tidy
      - run: go install gotest.tools/gotestsum@latest
      - run: go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest
      - run: go install github.com/securego/gosec/v2/cmd/gosec@latest

      - name: Lint
        run: make lint

      - name: Unit-Test
        run: make test
